body {
    background-color: #FFF3E6;
    color: #3A1F6B;
    font-family: 'Sofia', cursive;
    line-height: 1.7;
    margin: 25px;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: #A83232;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-style: italic;
    color: #6B3A1F;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
}

h3.rate {
    color: #FF7F50;
    font-weight: bold;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    height: fit-content;
}

.row > div {
    flex: 1;
    padding: 15px;
    background-color: #FFFFFF;
    height: fit-content;
}

p {
    margin: 10px 0;
    text-align:center;
}

p.right {
    text-align: right;
    font-style: italic;
}

ul, ol {
    margin-left: 25px;
}

figure {
    text-align: center;
}

img {
    height: 450px;
    max-width: 100%;
}

fieldset {
    padding: 12px;
}

legend {
    font-weight: bold;
}

input {
    margin: 5px;
}

hr {
    border: 2px solid #3A1F6B;
    margin-top: 30px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

